*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: cursive;
    background-color: aqua;
    text-align: center;
    padding: 5px;
    font-size: 2rem;
    color: red;
    text-transform: capitalize;


}